    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TEMPLATE</title>
        <link rel="stylesheet" href="style.css">
       
    </head>
    <body>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Playfair+Display&display=swap');
          </style>
        <nav class="navbar">
            <ul>
                <li><a href="">Home</li>
                <li><a href="">About</li>
                <li><a href="">Contact</li>
                <li><a href="">Blog</li>
                <li><a href="">Design</a></li>
            </ul>
        </nav>
          <div id="MYDIV">
        @keyframes mymove {
        from {background-color: red;}
         to {background-color: blue;}
      }
        </div>

        <div class="margin">
            <h1>The Editors Picked..</h1>
        </div>
        <!-- main section -->
    <div class="main">

        <!-- left side div -->
    
    <div class="left">
        <h2>The 28 best skincare products of 2021</h2>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis quod aperiam molestiae expedita sunt at earum tenetur porro recusandae, totam iusto modi illo quidem quibusdam labore quo obcaecati aut soluta rem reiciendis explicabo dolor? Et excepturi quas doloribus ipsam reprehenderit quasi similique aut esse necessitatibus aliquid maiores, voluptates molestiae. Blanditiis.</p>
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consequuntur mollitia qui? Accusantium deserunt eveniet culpa praesentium minima dolore voluptates quia? Ipsum a asperiores quaerat libero non minima aperiam sapiente placeat perspiciatis iure voluptatem, quo reprehenderit officiis praesentium odit cumque nobis architecto assumenda labore quae atque pariatur quidem ad! Sequi.</p>
        <br>
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum corrupti et doloremque quasi perferendis iure a repudiandae maxime dolore, minus molestiae minima aut facere repellat nemo eius tempore laborum necessitatibus doloribus quidem recusandae. Aperiam quasi accusamus rerum soluta non deserunt maiores id aliquid vitae repellendus? Modi quasi quo mollitia eum ab suscipit odio reprehenderit nemo?
        </p>
     <!-- right side div -->
    </div><div class="right">
        
        <img src="images/image" alt="">

    </div>
    </div>
    <!-- main section ends -->
    </body>
    </html>