
/* list-style-type:none for marker of li elements */
/* reset styles, body likhte toh sirf body ki margin padding nikalta, * likha hai toh sab elements ki margin adding nikal di */
/* text aur border se khelna hai jagah chhodni hai nav bar ke left side se toh prefer padding */
/* 2 elements ke beech jagah chahiye toh always go for padding, example: yaha navbar li mein elements ke beech padding di hai, nahi toh
it will work  as a collapsible margin, overlap hogi margin */

*{
    margin:0;
    padding:0;
}


/* bringing list items in one line */
.navbar li{

    display:inline-block;
    padding:15px;
    font-size:large;
    
    
}


/* removing underline and changing color */
.navbar a
{

    text-decoration: none;
    color:black;
    opacity:0.7;

    

}

/* 25px 20px --> 25 is top and bottom, 20 is left and right */
.navbar{

    padding:30px;
    background-color:#ffb5a7;
    position: sticky;
    top:40px;
   
}
/* position:fixed, apni jagah se nikal jayega and top se 40px ayega, kitna b scroll karo rahega vahin fixed*/
/* position: sticky, scroll karo kitna b, hoga scroll, par rukega top se 40px pe hi, body ki height 1800 px krke dekh and position fixed and
sticky try kar*/

body{

    background-color: #fcd5ce;
    height:1800px;
}

/* navbar section ends */