
/* *
{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

body{
    background-color:#0d3b66;

}

.main
{
    display:flex;
    height:70vh;
    justify-content: center;
    align-items:center;
    background-color:#ffffffef;
    width: 25%; /* Adjust the value as needed */
    margin: 0 auto; /* Added to center the container horizontally */
    /* When two values are specified, the first margin applies to the top and bottom, the second to the left and right. */
  
}

body
{
    margin:10px;
}

.main div
{
    margin-bottom:10px;
}

.main
{
    height:60%;
}

/* .child div
{
    flex-direction: column;
} */

.child {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center; /* Added for center alignment of text */
    margin-top: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-size:small;
    

}
.child input
{
    margin-bottom:10px;
    padding:8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;

}

.child button
{
    background-color:forestgreen;
    padding:5px;
    border-radius: 5px;
    width:90%;
    
}


.child label {
    text-align: left; /* Align labels to the left */
    display: block; /* Make labels behave as block elements */
    width: 100%; /* Make labels take up the full width of the container */
  }