* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.main {
    display: flex;
    position: relative;
    width: 100%;
}

.left {
    display: inline-block;
    position: relative;
    width: 55%;
    background-color:gray;
    /* opacity: 0.8; */
    display: flex;
}



.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left:20%;
    
/*     
    align-items: center; */
    color:white;
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
    /* width: 40%; */
    height: 100vh;
    font-size:2rem;
    margin-top: 20px;
}

.text p
{
    display:flex;
    width:50%;
    font-size:large;
}

.right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
}

.right {
    position: relative;
    display: inline-block;
    width: 55%;
    margin-top: 1px;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 800px;
    height: 735px;
    background-size: cover;
}

.items {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1.2rem;
}

.items ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.items li {
    margin: 5px;
    display: inline-block;
    padding: 20px;
    font-size: larger;
}

.items a {
    color: white;
    text-decoration: none;
}

/* Your existing CSS styles remain the same */

/* Add styles for icons_list */
.icons_list {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.icons_list ul {
    list-style-type: none;
    padding: 0;
}

.icons_list li {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.icons_list a {
    color: white;
}

