
/* flex-container ko width diya, eg, 600px, and direction diya row reverse, toh right side se 600px chhodke uske baad se boxes start honge */
/* PARENT PROP: FLEX-DIRECTION, FLEX WRAP */
/* flex wrap ka by default prop is wrap */
/* flex wrap box ke bahr jaane nhi dega boxes ko, instead, next line pe leke jayega */
/* shorthand : flex direction & flex wrap  milaake flex flow banate hai*/
/* br and hr tag do not work for flex */
/*/* justify content justifies content on the main axis */
/* main axis is horizontal axis */
/* align items are going to work with cross axis(vertical vali) */
.box
{
    background-color: red;
    color: white;
    margin:20px;
    height:100px;
    width:100px;
    flex-shrink: 0;
}

.flex-container
{
    display:flex;
    flex-direction:row-reverse; 
    /* flex-flow: row wrap-reverse; */
    /* height:100vh; */
    width:800px;
    border: 2px solid black;
    /* flex-wrap: reverse; */
    justify-content:space-evenly;

}


.flex-container2
{
    display:flex;
    flex-direction:row-reverse; 
    /* flex-flow: row wrap-reverse; */
    /* height:100vh; */
    width:800px;
    border: 2px solid black;
    /* flex-wrap: reverse; -->*/
    justify-content:space-around;

}

.flex-container3
{
    display:flex;
    flex-direction:row-reverse; 
    /* flex-flow: row wrap-reverse; */
    height:50vh;
    /* width:800px; */
    border: 2px solid black;
    /* flex-wrap: reverse; */
    /* justify-content:space-between; */
    align-items: center;

}